/* editando largura e altura máxima, menores escalas */
@media (max-width: 800px) {
    /* seção dos serviços (800px) */
    main div#servicos div#serv1 p {
        font-size:medium;
        text-align: start;
        margin-left: 6%;
    }
    main div#servicos div#serv2 p {
        font-size:medium;
        text-align: start;
        margin-left: 6%;
    }
    main div#servicos div#serv3 p {
        font-size:medium;
        text-align: start;
        margin-left: 6%;
    }
    main div#servicos div#serv4 p {
        font-size:medium;
        text-align: start;
        margin-left: 6%;
    }

    /* seção dos contatos (800px) */
    footer ul a:hover {  
        transition: .5s ease-in-out;
        width: 140%;
        height: 100px;
    } 

    footer ul a {
        width: 150px;
    }


    footer form textarea {
        width: 100%;
    }

    footer form h2 {
        font-size: medium;
    }

    footer form h2 span {
        font-size: large;
    }


    footer form button {
        font-size: smaller;
    }
}

@media (max-width:1000px){
    /* seção dos serviços (1000px) */
    main div#servicos div#serv1 h2 {
        font-size:x-large;
        
    }
    main div#servicos div#serv2 h2 {
        font-size:x-large;
    }

    main div#servicos div#serv3 h2{
        font-size:x-large;
       
    }
    main div#servicos div#serv4 h2 {
        font-size:x-large;
    }

    main div#servicos div#serv2 h2 span {
        display: block;
    }

    /* seção dos contatos (1000px) */
    footer ul a {
        width: 100%;
        height: 90px;
    }
}

@media (max-width:660px) {
    /* seção sobre (660px) */
    main div#about div#descricao {
        font-size: x-large;
    }

    /* seção serviços (660px) */
    main div#servicos {
        flex-direction: column;
    }
    main div#servicos div#serv2 h2 span {
        display: inline;
    }

    main div#servicos div#serv1 {
        width: 75%;
        margin-bottom: 8%;
    }
    main div#servicos div#serv2 {
        width: 75%;
        margin-bottom: 8%;
    }
    main div#servicos div#serv3 {
        width: 75%;
        margin-bottom: 8%;
    }
    main div#servicos div#serv4 {
        width: 75%;
        margin-bottom: 8%;
    }

    /* seção dos contatos (660px) */
    footer ul a:hover {  
        transition: .5s ease-in-out;
        width: 150%;
        height: 60px;
    }

    body h1#tituloContato {
        font-size: 25px;
    }

    footer ul a {
        width: 100%;
        height: 50px;
    }

    footer form h2 {
        font-size: small;
    }

    footer form h2 span {
        font-size: medium;
    }
}

@media (max-width:450px) {
    /* cabeçalho (450px) */
    header ul#ancoras a {
        font-size: medium;
    }

    /* titulos apresentação da seção sobre */
    main div#about h1#titulo1 {
        font-size: 45px;
    }

    main div#about h1#titulo2 {
        font-size: 30px;
    }

    main div#about h1#titulo3 {
        font-size: 30px;
    }

    /* titulos das seções */
    main h1#tituloServico {
        font-size: xx-large;
    }
    main h1#tituloPortifófio {
        font-size: xx-large;
    }
    main div#about h1#tituloAbout {
        font-size: xx-large;
    }

    /* seção contatos (450px) */
    footer ul a:hover {
        transition: .5s ease-in-out;
        width: 120%;
        height: 35px;
    }

    footer form input {
        max-width: 50%;
        margin-left: -35px;
        font-size: x-small;
    }

    footer form button {
        width: 35%;
        font-size: small;
        font-weight: bolder;
        margin-left: -33px;
    }

    footer form textarea {
        width: 100%;
        margin-left: -35px;
        height: 200px;
    }

    footer ul a {
        width: 100%;
        height: 35px;
    }

    footer form h2 {
        font-size: xx-small;
    }

    footer form h2 span {
        font-size: x-small;
    }
}

@media (max-width:300px) {
    /* cabeçalho (300px) */
    header ul#ancoras a {
        font-size: x-small;
    }

    main div#about div#descricao {
        font-size: large;
    }

    /* titulos apresentação da seção sobre */
    main div#about h1#titulo1 {
        font-size: 30px;
    }

    main div#about h1#titulo2 {
        font-size: 15px;
    }

    main div#about h1#titulo3 {
        font-size: 20px;
    }

    /* titulos das seções */

    main h1#tituloServico {
        font-size: x-large;
    }
    main h1#tituloPortifófio {
        font-size: x-large;
    }
    main div#about h1#tituloAbout {
        font-size: x-large;
    }
    


    /* seção dos serviços (300px) */
    main div#servicos div#serv2 h2 span {
        display: block;
    }
}
